html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.twitter-tweet {
  margin: auto !important;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.card img {
  margin: auto ;
  object-fit: cover;
  width: 500px;
}

.card h2 {
  font-size: 16px;
}

.card p {
  font-size: 12px;
}

@media (max-width: 600px) {
  .card img {
    width: 400px;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
